In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, accuracy_score, confusion_matrix, roc_curve,roc_auc_score,auc, f1_score
from sklearn.feature_selection import SelectFromModel

In [15]:
df_member = pd.read_csv("member.csv", encoding= 'UTF-16',sep = '\t')
df_member.head()

,id,is_vip,gender,birthdate,city,has_google_id,has_yahoo_id,has_weibo_id,cdate
0,e732bcf914fecc5a20adc8940689e701160772c4,0,F,5/14/1981,台北市,0,0,0,4/1/2012 0:01
1,c671d1bd0b03d682d590275f929b613426dc0e34,0,M,3/22/1975,台北市,0,0,0,1/1/2012 1:22
2,fe65711316d561f420bfa3364edf60f0c1859d1f,0,F,11/1/1976,0,0,0,0,1/1/2012 1:32
3,6113c28cfc2cf86ae268657683eca4953df54342,0,M,0000-00-00,0,0,0,0,1/1/2012 1:33
4,2fc08e00a891d491c99323aed57c4cb53922c959,0,F,1/1/1977,0,0,0,0,1/1/2012 1:54

In [12]:
df_restau = pd.read_csv("restaurant.csv", encoding = 'UTF-16', sep='\t')
df_restau.head()

,id,is_hotel,country,currency,city,cityarea,name,abbr,tel,opening_hours,...,outdoor_seating,wifi,wheelchair_accessible,price1,price2,lat,lng,timezone,locale,cdate
0,fb1171550a7ad65f5533d24345e7677c5353168d,1,tw,TWD,新北市,NaN,db231778a1d2a260b510e4379dfb159a63e90e95,e0199e43c23c7322f91049f1c49a9c8d87b3bc39,50f5512c6ed9d5e1b8112e7e52fa3d2aa76514ea,24小時營業(湯屋每次為雙人使用，加時與加人依現場報價為準),...,0,1,1,1100,2200,25.20,121.60,Asia/Taipei,zh_TW,2/27/2013 18:25
1,8239c2381e09ba5a298eb9ebefa88de9976105a5,0,tw,TWD,新北市,NaN,da4531bc68b42dff77fffc7f1b748bfd2a1855b7,da4531bc68b42dff77fffc7f1b748bfd2a1855b7,44d48f31e6b7aa2184018b7d0156fd8e068e3368,週二至週日\r\n午餐：11:00~14:00 \r\n晚餐：17:00~ 21:00\r\...,...,0,1,0,300,400,25.00,121.52,Asia/Taipei,zh_TW,8/26/2014 13:37
2,85709eabedeb5c761b424baa16db3bccd6144fd4,1,tw,TWD,台中市,請選擇,e1bb633022c44a15d15a072e17274887707e5774,e1bb633022c44a15d15a072e17274887707e5774,a43a6b1ab17d261040e844ad4db619924c58d188,營業時間：06:30~23:30\r\n\r\n,...,0,1,1,563,736,24.23,120.94,Asia/Taipei,zh_TW,2/25/2012 20:47
3,8a035d8ccfaae36efff1cdcc6f02f318f35abd64,1,tw,TWD,台中市,烏日區,2fb3f01285d5d64069513e2f2a06e322e352dcdc,2fb3f01285d5d64069513e2f2a06e322e352dcdc,353015f4db1660c7060c3e9a3063097aff22efa2,平日早餐：6:30- 10:00; \r\n午餐：11:30- 14:00（14:00清場)...,...,0,1,1,379,564,24.14,120.59,Asia/Taipei,zh_TW,6/25/2012 11:59
4,56a3a7c9675c5aca5e98ea3d9aa77610ec04183a,0,tw,TWD,台中市,NaN,408bce81d566a17affd9b56344e0dfd111c69548,408bce81d566a17affd9b56344e0dfd111c69548,caeaa8587bfb7b04cc0d6c1fcf15099decdba1cd,午餐:11:30~14:00\r\n午茶:14:30~16:30\r\n晚餐:17:30~2...,...,0,1,0,499,1000,24.23,120.94,Asia/Taipei,zh_TW,8/15/2013 16:56

In [9]:
df_train = pd.read_csv('Train.csv', sep=',')
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77982 entries, 0 to 77981
Data columns (total 11 columns):
booking_id                      77982 non-null int64
member_id                       77982 non-null object
cdate                           77982 non-null object
restaurant_id                   77982 non-null object
datetime                        77982 non-null object
people                          77982 non-null int64
purpose                         72453 non-null object
gender                          77982 non-null object
status                          77982 non-null object
is_required_prepay_satisfied    77982 non-null int64
return90                        77982 non-null int64
dtypes: int64(4), object(7)
memory usage: 6.5+ MB

In [16]:
df_test = pd.read_csv('Test.csv', sep=',')
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38992 entries, 0 to 38991
Data columns (total 10 columns):
booking_id                      38992 non-null int64
member_id                       38992 non-null object
cdate                           38992 non-null object
restaurant_id                   38992 non-null object
datetime                        38992 non-null object
people                          38992 non-null int64
purpose                         36286 non-null object
gender                          38992 non-null object
status                          38992 non-null object
is_required_prepay_satisfied    38992 non-null int64
dtypes: int64(3), object(7)
memory usage: 3.0+ MB

In [17]:
df_test['isTest'] = 1
df_train['isTest'] = 0

In [18]:
#### drop du cdate de member et restaurant etant donnée qu'ils n'ont pas l'air d'une grand utilité

df_member = df_member.drop('cdate', axis = 1)
df_restau = df_restau.drop('cdate', axis = 1)

In [19]:
#transformation de la dataframe pour fit au model

from sklearn.impute import SimpleImputer


#Pour pouvoir éviter l'erreur, faire un get dummies sur le join du test et du train comme ca il connait toutes les valeurs
# voila voila


print(df_test.info())


imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

df_test_transformed = pd.DataFrame(imp.fit_transform(df_test))


df_test_transformed.columns = ['booking_id','member_id','cdate','restaurant_id','datetime','people','purpose','gender','status','is_required_prepay_satisfied','isTest']



print(df_test_transformed.info())


#for i in range(len(df_test_transformed.index)) :
#    if(df_test_transformed.iloc[i].isnull().sum()>0):
#        print("Nan in row ", i , " : " ,  df_test_transformed.iloc[i].isnull().sum())



#/!\ remplacement des valeurs manquantes par la méthode du most frequent de scikit
#columns renommer pour correspondre à celle du train

#à la sortie de cette cellule
# df_test_transformed sans NaN avec les bons noms de columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38992 entries, 0 to 38991
Data columns (total 11 columns):
booking_id                      38992 non-null int64
member_id                       38992 non-null object
cdate                           38992 non-null object
restaurant_id                   38992 non-null object
datetime                        38992 non-null object
people                          38992 non-null int64
purpose                         36286 non-null object
gender                          38992 non-null object
status                          38992 non-null object
is_required_prepay_satisfied    38992 non-null int64
isTest                          38992 non-null int64
dtypes: int64(4), object(7)
memory usage: 3.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38992 entries, 0 to 38991
Data columns (total 11 columns):
booking_id                      38992 non-null object
member_id                       38992 non-null object
cdate                           38992 non-null object
restaurant_id                   38992 non-null object
datetime                        38992 non-null object
people                          38992 non-null object
purpose                         38992 non-null object
gender                          38992 non-null object
status                          38992 non-null object
is_required_prepay_satisfied    38992 non-null object
isTest                          38992 non-null object
dtypes: object(11)
memory usage: 3.3+ MB
None

In [20]:
#transformation de df_train pour eviter de propager de rows avec de NaN
print(df_train.info())


imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

df_train_transformed = pd.DataFrame(imp.fit_transform(df_train))


df_train_transformed.columns = df_train.columns.values



print(df_train_transformed.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77982 entries, 0 to 77981
Data columns (total 12 columns):
booking_id                      77982 non-null int64
member_id                       77982 non-null object
cdate                           77982 non-null object
restaurant_id                   77982 non-null object
datetime                        77982 non-null object
people                          77982 non-null int64
purpose                         72453 non-null object
gender                          77982 non-null object
status                          77982 non-null object
is_required_prepay_satisfied    77982 non-null int64
return90                        77982 non-null int64
isTest                          77982 non-null int64
dtypes: int64(5), object(7)
memory usage: 7.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77982 entries, 0 to 77981
Data columns (total 12 columns):
booking_id                      77982 non-null object
member_id                       77982 non-null object
cdate                           77982 non-null object
restaurant_id                   77982 non-null object
datetime                        77982 non-null object
people                          77982 non-null object
purpose                         77982 non-null object
gender                          77982 non-null object
status                          77982 non-null object
is_required_prepay_satisfied    77982 non-null object
return90                        77982 non-null object
isTest                          77982 non-null object
dtypes: object(12)
memory usage: 7.1+ MB
None

In [21]:
#transformation de df_restau pour eviter de propager de rows avec de NaN

imp_restau = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

df_restau_transformed = pd.DataFrame(imp_restau.fit_transform(df_restau))


df_restau_transformed.columns = df_restau.columns.values
    

print(df_restau_transformed.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 724 entries, 0 to 723
Data columns (total 22 columns):
id                       724 non-null object
is_hotel                 724 non-null object
country                  724 non-null object
currency                 724 non-null object
city                     724 non-null object
cityarea                 724 non-null object
name                     724 non-null object
abbr                     724 non-null object
tel                      724 non-null object
opening_hours            724 non-null object
good_for_family          724 non-null object
accept_credit_card       724 non-null object
parking                  724 non-null object
outdoor_seating          724 non-null object
wifi                     724 non-null object
wheelchair_accessible    724 non-null object
price1                   724 non-null object
price2                   724 non-null object
lat                      724 non-null object
lng                      724 non-null object
timezone                 724 non-null object
locale                   724 non-null object
dtypes: object(22)
memory usage: 124.6+ KB
None

In [22]:

df_join = df_train_transformed.append(df_test_transformed, sort=False)


df_restau_transformed = df_restau_transformed.rename(columns={'id':'restaurant_id'})


df_sub = pd.merge(df_restau_transformed, df_join, on='restaurant_id', how = 'outer')


#count = 0
#for i in range(len(df_sub.index)) :
#    if(df_sub.iloc[i].isnull().sum()>0):
#        count +=1
        #print("Nan in row ", i , " : " ,  df_train.iloc[i].isnull().sum())
        



df_sub = df_sub.drop(['currency','name','abbr','tel','timezone','locale'],axis=1)
df_sub = df_sub.drop(['lat','lng'],axis =1)
df_sub = df_sub.drop('restaurant_id',axis=1)


df_sub['return90'].fillna(0, inplace=True)

df_sub_without_test = df_sub.dropna(subset=['return90'])



#process sur le df_sub
imp_sub = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

df_sub_transformed = pd.DataFrame(imp_sub.fit_transform(df_sub))


df_sub_transformed.columns = df_sub.columns.values
    


print(df_sub_transformed.info())
#count = 0
#for i in range(len(df_sub.index)) :
#    if(df_sub.iloc[i].isnull().sum()>0):
#        count +=1
        #print("Nan in row ", i , " : " ,  df_train.iloc[i].isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117066 entries, 0 to 117065
Data columns (total 24 columns):
is_hotel                        117066 non-null object
country                         117066 non-null object
city                            117066 non-null object
cityarea                        117066 non-null object
opening_hours                   117066 non-null object
good_for_family                 117066 non-null object
accept_credit_card              117066 non-null object
parking                         117066 non-null object
outdoor_seating                 117066 non-null object
wifi                            117066 non-null object
wheelchair_accessible           117066 non-null object
price1                          117066 non-null object
price2                          117066 non-null object
booking_id                      117066 non-null object
member_id                       117066 non-null object
cdate                           117066 non-null object
datetime                        117066 non-null object
people                          117066 non-null object
purpose                         117066 non-null object
gender                          117066 non-null object
status                          117066 non-null object
is_required_prepay_satisfied    117066 non-null object
return90                        117066 non-null object
isTest                          117066 non-null object
dtypes: object(24)
memory usage: 21.4+ MB
None

In [23]:

df_sub_transformed_join_member = df_sub_transformed
df_member_transformed = df_member.rename(columns={'id':'member_id','city': 'member_city', 'gender': 'member_gender'})

df_sub_transformed_join_member = pd.merge(df_sub_transformed_join_member, df_member_transformed,
                                          on=['member_id'], how = 'outer')

In [24]:
df_sub_transformed_join_member = df_sub_transformed_join_member.dropna(subset= ['city'])
#df_sub_transformed_join_member = df_sub_transformed_join_member.drop('cdate',axis=1)
df_sub_transformed_join_member.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117066 entries, 0 to 117065
Data columns (total 31 columns):
is_hotel                        117066 non-null object
country                         117066 non-null object
city                            117066 non-null object
cityarea                        117066 non-null object
opening_hours                   117066 non-null object
good_for_family                 117066 non-null object
accept_credit_card              117066 non-null object
parking                         117066 non-null object
outdoor_seating                 117066 non-null object
wifi                            117066 non-null object
wheelchair_accessible           117066 non-null object
price1                          117066 non-null object
price2                          117066 non-null object
booking_id                      117066 non-null object
member_id                       117066 non-null object
cdate                           117066 non-null object
datetime                        117066 non-null object
people                          117066 non-null object
purpose                         117066 non-null object
gender                          117066 non-null object
status                          117066 non-null object
is_required_prepay_satisfied    117066 non-null object
return90                        117066 non-null object
isTest                          117066 non-null object
is_vip                          107968 non-null float64
member_gender                   107965 non-null object
birthdate                       107968 non-null object
member_city                     107766 non-null object
has_google_id                   107968 non-null float64
has_yahoo_id                    107968 non-null float64
has_weibo_id                    107968 non-null float64
dtypes: float64(4), object(27)
memory usage: 28.6+ MB

In [25]:
imp_join_member = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

df_sub_member_col = df_sub_transformed_join_member

df_sub_transformed = pd.DataFrame(imp_join_member.fit_transform(df_sub_transformed_join_member))


df_sub_transformed.columns = df_sub_member_col.columns.values

In [26]:
df_sub_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117066 entries, 0 to 117065
Data columns (total 31 columns):
is_hotel                        117066 non-null object
country                         117066 non-null object
city                            117066 non-null object
cityarea                        117066 non-null object
opening_hours                   117066 non-null object
good_for_family                 117066 non-null object
accept_credit_card              117066 non-null object
parking                         117066 non-null object
outdoor_seating                 117066 non-null object
wifi                            117066 non-null object
wheelchair_accessible           117066 non-null object
price1                          117066 non-null object
price2                          117066 non-null object
booking_id                      117066 non-null object
member_id                       117066 non-null object
cdate                           117066 non-null object
datetime                        117066 non-null object
people                          117066 non-null object
purpose                         117066 non-null object
gender                          117066 non-null object
status                          117066 non-null object
is_required_prepay_satisfied    117066 non-null object
return90                        117066 non-null object
isTest                          117066 non-null object
is_vip                          117066 non-null object
member_gender                   117066 non-null object
birthdate                       117066 non-null object
member_city                     117066 non-null object
has_google_id                   117066 non-null object
has_yahoo_id                    117066 non-null object
has_weibo_id                    117066 non-null object
dtypes: object(31)
memory usage: 27.7+ MB

In [28]:
#df_sub_transformed en csv pour plus avoir à tout calculer à chaque fois

df_sub_transformed.to_csv('df_sub_transformed_members_and_date_and_price.csv',sep=';')

In [25]:
#df_sub_transformed = df_sub_transformed.drop('birthdate', axis = 1)
#df_sub_transformed = df_sub_transformed.drop('member_id', axis = 1)

In [26]:



df_sub_transformed['return90'] = df_sub_transformed['return90'].astype(np.int64)
df_sub_transformed['booking_id'] = df_sub_transformed['booking_id'].astype(np.int64)
df_sub_transformed['is_hotel'] = df_sub_transformed['is_hotel'].astype(np.int64)
df_sub_transformed['good_for_family'] = df_sub_transformed['good_for_family'].astype(np.int64)
df_sub_transformed['accept_credit_card'] = df_sub_transformed['accept_credit_card'].astype(np.int64)
df_sub_transformed['parking'] = df_sub_transformed['parking'].astype(np.int64)
df_sub_transformed['outdoor_seating'] = df_sub_transformed['outdoor_seating'].astype(np.int64)
df_sub_transformed['wifi'] = df_sub_transformed['wifi'].astype(np.int64)
df_sub_transformed['wheelchair_accessible'] = df_sub_transformed['wheelchair_accessible'].astype(np.int64)
df_sub_transformed['people'] = df_sub_transformed['people'].astype(np.int64)
df_sub_transformed['is_required_prepay_satisfied'] = df_sub_transformed['is_required_prepay_satisfied'].astype(np.int64)
df_sub_transformed['isTest'] = df_sub_transformed['isTest'].astype(np.int64)

df_sub_transformed['is_vip'] = df_sub_transformed['is_vip'].astype(np.int64)
df_sub_transformed['has_google_id'] = df_sub_transformed['has_google_id'].astype(np.int64)
df_sub_transformed['has_yahoo_id'] = df_sub_transformed['has_yahoo_id'].astype(np.int64)
df_sub_transformed['has_weibo_id'] = df_sub_transformed['has_weibo_id'].astype(np.int64)
df_sub_transformed['price1'] = df_sub_transformed['price1'].astype(np.int64)
df_sub_transformed['price2'] = df_sub_transformed['price2'].astype(np.int64)

df_sub_transformed['cdate'] = pd.to_datetime(df_sub_transformed['cdate'])
df_sub_transformed['datetime'] = pd.to_datetime(df_sub_transformed['datetime'])




df_sub_transformed = pd.get_dummies(df_sub_transformed)

print(df_sub_transformed.head())
print(df_sub_transformed.info())

   is_hotel  good_for_family  accept_credit_card  parking  outdoor_seating  \
0         1                1                   1        1                0
1         1                1                   1        1                0
2         1                1                   1        1                0
3         1                1                   1        1                0
4         1                1                   1        1                0

   wifi  wheelchair_accessible  booking_id               cdate  \
0     1                      1      111664 2013-10-08 21:49:00
1     1                      1      120055 2014-01-10 16:40:00
2     1                      1       80299 2013-06-12 22:59:00
3     1                      1      149766 2013-12-03 17:22:00
4     1                      1       45451 2013-12-07 00:15:00

             datetime  ...  member_city_新竹縣  member_city_桃園縣  member_city_澎湖縣  \
0 2013-10-10 11:30:00  ...                0                0                0
1 2014-01-27 10:00:00  ...                0                0                0
2 2013-06-13 14:00:00  ...                0                0                0
3 2013-12-31 10:30:00  ...                0                0                0
4 2013-12-12 12:00:00  ...                0                0                0

   member_city_花蓮縣  member_city_苗栗縣  member_city_連江縣  member_city_金門縣  \
0                0                0                0                0
1                0                0                0                0
2                0                0                0                0
3                0                0                0                0
4                0                0                0                0

   member_city_雲林縣  member_city_香港  member_city_高雄市
0                0               0                0
1                0               0                0
2                0               0                0
3                0               0                0
4                0               0                0

[5 rows x 723 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117066 entries, 0 to 117065
Columns: 723 entries, is_hotel to member_city_高雄市
dtypes: datetime64[ns](2), int64(16), uint8(705)
memory usage: 94.8 MB
None

In [13]:
# df_sub_transformed avec les dummies en csv pour pas avoir à faire le calcul à chaque fois
df_sub_transformed.to_csv('df_sub_transformed_dummies.csv',sep=';')

is_hotel              78074
good_for_family       78074
accept_credit_card    78074
parking               78074
outdoor_seating       78074
                      ...
member_city_連江縣       78074
member_city_金門縣       78074
member_city_雲林縣       78074
member_city_香港        78074
member_city_高雄市       78074
Length: 721, dtype: int64

In [42]:
#permet de choper seulement les rows de test qui ne contiennent pas de return90
X_sub = df_sub_transformed.loc[df_sub_transformed['isTest']== 1]
#print(X_sub.info())


#process sur le X_sub de test sans les return90
#imp_X = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

#df_X_sub_transformed = pd.DataFrame(imp_X.fit_transform(X_sub))


#df_X_sub_transformed.columns = X_sub.columns.values


#count = 0
#for i in range(len(X_sub.index)) :
    #if(X_sub.iloc[i].isnull().sum()>0):
        #count +=1
        #print("Nan in row ", i , " : " ,  df_train.iloc[i].isnull().sum())
#print(count)
#X_sub.info()

df_X_sub_transformed = X_sub

In [43]:
df_X_sub_transformed.shape

(38992, 723)

In [44]:

print(df_X_sub_transformed.info())
print(df_X_sub_transformed.shape)

#df_X_sub_split = df_X_sub_transformed[:38993]
df_X_sub_split = df_X_sub_transformed

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38992 entries, 9 to 117065
Columns: 723 entries, is_hotel to member_city_高雄市
dtypes: datetime64[ns](2), int64(16), uint8(705)
memory usage: 31.9 MB
None
(38992, 723)

In [45]:
df_X_sub_split.to_csv('Test_submission_transformed_with_date_price.csv',sep=';')

In [46]:
#mise en place des données de train et séparation de ces données en train et test 


print("shape des données du Train.csv : {}".format(df_sub_transformed.shape))
print("shape des données de Test.csv : {}".format(df_X_sub_split.shape))

pre_select = df_sub_transformed.loc[df_sub_transformed['isTest']== 0]

X = pre_select.drop('return90',axis=1)
y = pre_select['return90']


#à la sorti de cette cellule : les données séparé entre les deux fichiers de test.csv et train.csv

shape des données du Train.csv : (117066, 723)
shape des données de Test.csv : (38992, 723)

In [47]:
pre_select.to_csv('Train_transformed_with_date_price.csv',sep=';')

In [48]:
pre_select.shape

(78074, 723)